body {
  min-height: 100vh;
}
.home-page {
  height: calc(100vh - 65px);
  padding-top: 30px;
  color: white;
  overflow-x: hidden;
}
.select {
  width: 300px;
}

a {
  color: black;
  text-decoration: none;
}

.nav-link {
  color: black;
  font-weight: 400;
}
.nav-link:hover {
  color: black !important;
  font-weight: 500;
}

.nav-link.active {
  color: black !important;
  font-weight: bold;
}
.home {
  color: #fff;
}
.home-title {
  font-weight: bolder;
  font-size: 90px;
}
.home-text {
  text-align: center;
  width: 70%;
}
.btn-link {
  color: white;
  font-size: 20px;
  padding: 16px 30px;
  border-radius: 50px;
  border: 3px solid rgb(86, 18, 212);
  text-decoration: none;
  margin-right: 20px;
}

.btn-link:hover {
  background-color: rgb(86, 18, 212);
  border: 3px solid transparent;
  color: white;
  text-decoration: none;
}

.link-btn {
  padding: 5px 20px;
  background-color: rgb(86, 18, 212);
  color: white;
  border-radius: 15px;
  border: 1px solid transparent;
}
.link-btn:hover {
  color: rgb(86, 18, 212);
  background-color: transparent;
  border: 1px solid rgb(86, 18, 212);
}
